/* importing fonts */
@font-face {
    src: url('../Fonts/NotoColorEmoji.ttf');
}

@font-face {
    src: url('../Fonts/OpenSansEmoji.ttf');
}

.root {
    -fx-background-color: #35465c;
}

.main-area {
    -fx-background-color: #5181b8;
}

#msg-box {
    -fx-background-color: transparent;
    -fx-fit-to-height: false;
}

.custom_btn {
    -fx-opacity: 0.3;
    -fx-cursor: hand;
}

.custom_btn:hover {
    -fx-opacity: 1;
}

.text-field {
    -fx-font-family: 'OpenSansEmoji';
    -fx-text-fill: #e2e2e2;
    -fx-font-size: 24px;
}


/* customizing the msg labels */

.label {
    -fx-background-radius: 5pt;
    -fx-font-family: 'OpenSansEmoji';
    -fx-font-size: 15px;
    -fx-background-color: whitesmoke;
    -fx-text-fill: #333333;
    -fx-padding: 10pt;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-wrap-text: true;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-image: url(../CSS/img/client-background.jpg);
    -fx-fit-to-width: true;
    -fx-opacity: 0.8;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

/* emoji selector */

#emoji-panel {
    visibility: hidden;
    -fx-background-radius: 5pt;
    -fx-background-color: #35465c;
    -fx-border-radius: 10px;
    -fx-opacity: 0.9;
}

.emoji:hover {
    -fx-cursor: hand;
}

.custom-image {
    -fx-background-radius: 5pt;
    -fx-background-color: whitesmoke;
    -fx-padding: 10pt;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.custom-label {
    -fx-background-insets: 0px;
    -fx-padding: 0pt;
    -fx-fit-to-width: true;
}